.backdrop {
  position: absolute;
  height: 110%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@media screen and (max-width:1200px), (min-width:800px ) {
  .backdrop {
    height: 110%;
    width: 1376px;
  }
}